[submodule "sage/themes/PaperMod"]
	path = sage/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "sage/themes/ananke"]
	path = sage/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
